<h4 class="title">Select Payment Mode</h4> 
<br><br>
	<!--<input id=1 name="check" class="fancy-radio" type="radio" value="cod" ng-click="show_pay_mode_checkout('cod')">
	<label for=1 class="fancy-radio-label">COD
	
    <input id=2 name="check" class="fancy-radio" type="radio" value="wallet"  ng-click="show_pay_mode_checkout('wallet')">
	<label for=2 class="fancy-radio-label">

    <input id=3 name="check" class="fancy-radio" type="radio" value="online"  ng-click="show_pay_mode_checkout('online')" >
	<label for=3 class="fancy-radio-label">Online-->





		<ul class="payment-option">
                            <li class="list">
                                <label class="label">
                                    <input class="radio-btn" value="1" name="select-payment" type="radio"  ng-click="show_pay_mode_checkout('cod')">
                                    <span class="name">COD</span>
                                </label>
                            </li>
                            <li class="list">
                                <label class="label">
                                    <input class="radio-btn" value="2" name="select-payment" type="radio"   ng-click="show_pay_mode_checkout('wallet')">
                                    <span class="name">Wallet</span>
                                </label>
                            </li>
							<li class="list">
                                <label class="label">
                                    <input class="radio-btn" value="2" name="select-payment" type="radio" ng-click="show_pay_mode_checkout('online')" >
                                    <span class="name">Online</span>
                                </label>
                            </li>
                        </ul>